<header class="header-container">
  <div class="navbar">
    <div class="navbar-content">
      <!-- Logo -->
      <a routerLink="/" class="logo">
        <span>Todo</span>
        <span>App</span>
      </a>

      <!-- Navigation Links -->
      <nav class="nav-links">
        <a routerLink="/" class="nav-link">Home</a>
        <a routerLink="/tasks" class="nav-link">Tasks</a>
        <a routerLink="/features" class="nav-link">Features</a>
        <a routerLink="/contact" class="nav-link">Contact</a>
      </nav>

      <!-- Action Buttons -->
      <div class="action-buttons" *ngIf="loginUserService.loginUser.username">
        <button class="get-started-btn">Get Started</button>
        <!-- <div class="user-menu">
          <button class="user-btn" (click)="toggleDropdown()">
            <span>{{loginUserService.loginUser.username}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-chevron-down">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          <div *ngIf="isDropdownOpen" class="dropdown">
            <a routerLink="/profile" class="dropdown-link">Profile</a>
            <a routerLink="/settings" class="dropdown-link">Settings</a>
            <a routerLink="/logout" class="dropdown-link logout">Logout</a>
          </div>
        </div> -->. <p-menu #menu [model]="items" [popup]="true" />
        <p-button (click)="menu.toggle($event)">
          <span>
            {{ loginUserService.loginUser.username }}
          </span>
        </p-button>
      </div>

      <div
        style="display: flex; gap: 5px"
        *ngIf="!loginUserService.loginUser.username"
      >
        <button
          class="btn-login"
          (click)="
          onLoginOrRegister('register')
          "
        >
          Login
        </button>
        <button
          class="btn-register"
          (click)="
          onLoginOrRegister('login')
          "
        >
          Register
        </button>
      </div>
    </div>
  </div>
</header>
