<nav class="header">
  <div class="logo">Admin To-Do</div>
  <ul class="nav-links">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active-link"
        >Dashboard</a
      >
    </li>
    <li>
      <a routerLink="/admin/user-data" routerLinkActive="active-link">Tasks</a>
    </li>
    <li>
      <a routerLink="/admin/users" routerLinkActive="active-link">Users</a>
    </li>
    <li>
      <a routerLink="/admin/settings" routerLinkActive="active-link"
        >Settings</a
      >
    </li>
    <li>
      <a routerLink="/admin/profile" routerLinkActive="active-link">Profile</a>
    </li>

    <li><a routerLinkActive="active-link" (click)="onLogout()">Logout</a></li>
  </ul>
</nav>
